:root {
  --mainFont : Avenir-Bold;
  --white: #FFFFFF;
  --purple:#6B3288;
  --yellow:rgba(255, 168, 0, .80);
}

/*Fuentes*/
@font-face {
  font-family: 'Avenir-Bold';
  src: url("../assets/fonts/AvenirNext-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Avenir-Demibold';
  src: url("../assets/fonts/AvenirNext-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url("../assets/fonts/AvenirNext-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Avenir-Regular';
  src: url("../assets/fonts/AvenirNext-Regular.ttf") format("truetype");
}

html{
    background-color: var(--white);
    margin: 0 auto;
    padding: 0;
    font-family: var(--mainFont);
    font-size: 62.5%;
  }

h2 {
  color: white;
  font-size: 8vw;
  text-align: center;
  margin: 2rem auto;
}


.corner-yellow {
  display: flex;
  align-self: flex-start;
  height: 4rem;
  width: 4rem;
}
.corner-blue {
  display: flex;
  align-self: flex-end;
  height: 4rem;
  width: 4rem;
}

.facultades {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 5rem;
  background-color: var(--purple);
}

.grid-facultades {
        /*Measurements*/
  --maxWidth: 90vw;
  --gapFixed: 1rem;
  --columnsAmount:1;
  --row-size: calc(
    ( var(--maxWidth) - (var(--gapFixed) * (var(--columnsAmount) - 1))
    ) / var(--columnsAmount)
  );

    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: var(--maxWidth);
    
    grid-template-columns: repeat(var(--columnsAmount), 1fr);
    grid-auto-rows: var(--row-size);
  
    grid-column-gap: var(--gapFixed);
    grid-row-gap: var(--gapFixed);
  }

.grid-facultades p {
  margin: 10%;
  padding: 10%;
  font-size:180%;

}

  /*GRID_DESKTOP*/
  @media (min-width: 1024px) {
    h2 {
    font-size: 8vw;
  }

  .grid-facultades {
    --columnsAmount: 8;

    }
  }

  /*GRID_TABLET*/
  @media (min-width: 768px) and (max-width: 1023px) {

    h2 {
      font-size: 10vw;
    }
    .grid-facultades {
      --columnsAmount: 4;
    }
  }

  /*GRID_MOBILE*/
  @media (max-width: 767px) {
    h2 {
      font-size: 14.5vw;
    }
    
    .grid-facultades {
      --maxWidth: 90vw;
      --columnsAmount: 2;
      --row-size: 60vw;
    }
  }

.card {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: .5s;
}

.card .face {
  position: absolute;
  backface-visibility: hidden;
  transition: .5s;
}

/** Animation media-queries**/

  /*Desktop_Cards*/
  @media (min-width: 1024px) {

    .card .front {
      transform: perspective(60rem) rotateY(0deg) scaleX(1);
      display: flex;
    
      width: 100%;
      height: 100%;
    }
    
    .card .back {
      transform: perspective(60rem) rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      color: var(--white);
      background: var(--yellow);
    }
    .card:hover .front {
      transform: perspective(60rem) rotateY(180deg);
    }
    
    .card:hover .back {
        transform: perspective(60rem) rotateY(360deg) ;
    }
      
  }

  /*Touch_Cards*/
  @media (max-width: 1023px) {

    .card .front {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
    }
    
    
    .card .back {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 25.5%;
      color: var(--white);
      background: var(--yellow);
    }

  }

